<!DOCTYPE html>
<html>
<head>
	<title>CATT</title>

	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="title" content="BoleChat">
	<meta name="description" content="O tempo passa, os valores permanecem.">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/home">CATT</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="navbar-nav mr-auto">
				<a class="nav-item nav-link active" href="/boletim">Boletim</a>
			</div>
			<% if(!user) { %>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link active" href="/login">Login</a>
				<a class="nav-item nav-link active" href="/register">Registrar</a>
			</div>
			<% } else { %>
			<div class="navbar-nav mr-auto ml-auto">
				<a class="nav-link active welcome">Bem-vindo <%= user.username %></a>
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-item nav-link active" href="/logout">Sair</a>
			</div>
			<% } %>
		</div>
	</nav>

	<% if(flashError && flashError.length > 0) { %>
	<div class="container">
		<div class="alert alert-danger mt-5" role="alert">
			<%= flashError %>
		</div>
	</div>
	<% } else if(flashSuccess && flashSuccess.length > 0) { %>
	<div class="container">
		<div class="alert alert-success mt-5" role="alert">
			<%= flashSuccess %>
		</div>
	</div>
	<% } %>