<% include partials/header %>

	<div class="container mt-5">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Disciplinas</th>
					<th scope="col">1º Bimestre</th>
					<th scope="col">2º Bimestre</th>
					<th scope="col">3º Bimestre</th>
					<th scope="col">4º Bimestre</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Educação Física</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Matemática</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Biologia</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Física</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Química</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">História</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Geografia</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">L.E.M Espanhol</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">L.E.M Inglês</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Filosofia</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Sociologia</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Produção Textual</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Ensino Religioso</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Atualidades</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Orientação Vocacional</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Literatura</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Gramática</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
				<tr>
					<th scope="row">Redação</th>
					<td>Nota 1</td>
					<td>Nota 2</td>
					<td>Nota 3</td>
					<td>Nota 4</td>
				</tr>
			</tbody>
		</table>
	</div>

<% include partials/footer %>